* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  gap: 2.5rem;
}

#grid-container,
#grid-container-p2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 400px;
  height: 400px;
}
.grid-square-p1,
.grid-square-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #f0f0f0;
}
