* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 80vh;
  gap: 0.625rem;
  flex-wrap: wrap;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 300px;
  height: 300px;
}

.grid-square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #f0f0f0;
}
